<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SoLongMM - INovomiast2</title>
	<!-- Styles -->
	<link rel="stylesheet" href="/public/css/homepage.css">
</head>
<body>
	<header>

	</header>
	<main>
		<h1 class="hp-title">So Long Map Maker - Version 1.0.0</h1>
		<div class="hp-so-long-example">
			<img src="https://user-images.githubusercontent.com/81205527/174392536-21619238-638a-4173-a77c-1b168c6c7898.png" alt="so_long_example_auth:augustobecker">
		</div>
		<div class="hp-auth-box">
			<a href="/editor/" class="hp-auth-btn">Start Creating!</a>
		</div>
	</main>
	<footer>

	</footer>
	<script src="/public/js/mainpage/main.js"></script>
</body>
</html>