@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic Coding", monospace;
    background-color: #121212;
    color: white;
}

.hp-title {
    text-align: center;
    margin-top: 2%;
    font-size: 3rem;
}

.hp-so-long-example {
    text-align: center;
    margin-top: 0%;
    scale: 0.8;
}

.hp-auth-box {
    text-align: center;
    width: 100%;
}

.hp-auth-box a:nth-child(1) {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s;
    background-color: royalblue;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}


.hp-auth-box a:hover {
    color: gold;
}

.hp-auth-btn {
    width: 25rem;
}

.ft-logo {
    display: inline;
}

.ft-logo img {
    display: inline;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .hp-title {
        font-size: 5rem;
    }
    .hp-so-long-example {
        font-size: 2rem;
    }
    .hp-auth-box a:nth-child(1) {
        font-size: 3rem;
    }
    .hp-auth-btn {
        width: 30rem;
    }
}