<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About So Long Map Maker</title>
    <link rel="stylesheet" href="/public/css/about.css">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-mini">
                <li><a href="/">Home</a></li>
                <li><a href="/comunity">Comunity</a></li>
                <li><a style="color: #00b0ff;" href="/about">About SoLongMM</a></li>
				
                <li class="logout-link"><a href="/auth">Login</a></li>
            </ul>
        </nav>
	</header>
    <main>
        <h1>About So Long Map Maker</h1>
        <section>
            <img src="/public/images/so_long_map_maker_v2.png" alt="So Long Map Maker Logo">
        </section>
        <section>
            <p>
                So Long Map Maker is a free and open-source map maker for the game 42School So Long Project. Create your own maps and share them with the community!
                This project was created by <a href="https://profile.intra.42.fr/users/ivnovomi">INovomiast2</a> (ivnovomi) as a part of the 42School curriculum.
            </p>

            <h2>Features</h2>
            <ul>
                <li>Map editor with drag and drop functionality</li>
                <li>Save and load maps</li>
                <li>Share maps with the community</li>
                <li>Rate and comment maps</li>
                <li>Report inappropriate maps</li>
            </ul>

            <h2>Technologies</h2>
            <ul>
                <li>Frontend: HTML, CSS, JavaScript</li>
                <li>Backend: Python, MySQL</li>
                <li>Deployment: GitHub Pages</li>
            </ul>
            
            <h2>Source Code</h2>
            <p>The source code for this project is available on <a href="https://github.com/INovomiast2/SoLongMM">GitHub</a>.</p>
        </section>
        <section>
            <h2>Feedback</h2>
            <p>If you have any feedback or suggestions for this project, please feel free to contact me on <a href="https://profile.intra.42.fr/users/ivnovomi">42Intra</a> or <a href="/comunity/feedback">Comunity Feedback</a>.</p>
        </section>
        <section>
            <h2>Disclaimer</h2>
            <p>This project is not affiliated with 42School or any of its partners. It is an independent project created by a student for educational purposes.</p>
        </section>
        <br>
        <br>
        <br>
        <br>
    </main>
    <footer>
        <p>So Long Map Maker is a free and open-source map maker for the game 42School So Long Project. Create your own maps and share them with the community! | </p>
        <p>So Long Map Maker - INovomiast2 <a href="https://profile.intra.42.fr/users/ivnovomi">(ivnovomi)</a></p>
    </footer>
</body>
</html>