<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor - So Long MM</title>
    <link rel="stylesheet" href="/public/css/editor.css">
</head>
<body>
    <header>
        <h1 class="header-editor-title">So Long Map Maker - Editor v1</h1>
        <!-- Github Logo to repository -->
        <div class="header-editor-options">
            <a href="javascript:void(0)" class="header-editor-option" id="header-editor-new-prj">New Project</a>
            <a href="javascript:void(0)" class="header-editor-option">Open Project</a>
            <a href="javascript:void(0)" class="header-editor-option">Save Project</a>
        </div>
    </header>
    <main>
        <div class="editor-loading-container">
            <h1 class="loading-title">So Long Map Maker - Editor v1</h1>
            <div class="loading-spinner"></div>
        </div>
        <div class="editor-content">
            <div class="editor-sidebar">
                <div class="editor-sidebar-section">
                    <h2 class="editor-sidebar-section-title">Tiles</h2>
                    <div class="editor-sidebar-section-content" id="sidebar-tiles">
                    </div>
                </div>
            </div>
            <div id="editor-grid">
                <h1>Hola Mundo</h1>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="/public/js/editor/main.js"></script>
</body>
</html>

