<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - So Long Map Maker</title>
    <link rel="stylesheet" href="/public/css/dash.css">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-mini">
                <li><a href="/user/dashboard" class="active">Home</a></li>
                <li><a style="color: #00b0ff;" href="/user/dashboard/{{user[1]}}/myprojects">My Projects</a></li>
                <li><a href="/user/dashboard/{{user[1]}}/settings" class="active">Settings</a></li>
                <li class="logout-link"><a id="logout-link" href="#logout">Logout</a></li>
            </ul>
        </nav>
        <div class="user-header">
            <!-- Profile Image -->
            <div class="profile-image">
                <img src="{{user[4]}}" alt="Profile Image" width="200">
            </div>
            <!-- User Info -->
            <div class="user-info">
                <h1>{{user[1]}}</h1>
                <h2>{{user[2]}}</h2>
                <!-- Followers and Level -->
                <div class="followers-level">
                    <div class="followers">
                        <h3 style="display: flex;">Followers: <p style="padding-left: 5px;">{{user[5]}}</p></h3>
                    </div>
                    <div class="level">
                        <h3 style="display: flex;">Level: <p style="padding-left: 5px;">{{user[6]}}</p></h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1 style="color:white; margin-top: 20px; margin-left: 30px;">Projects</h1>
        <div class="projects">
            {% if projects|length == 0 %}
            <div class="new-project" id="new-project">
                <p style="color: white; font-size: 50px;">+</p>
                <p>New Project</p>
            </div>
            {% else %}
            <div class="new-project" id="new-project">
                <p style="color: white; font-size: 50px;">+</p>
                <p>New Project</p>
            </div>
            {% for project in projects %}
            <div class="project" id="project-{{project[0]}}" data-id="{{project[0]}}">
                <h2>{{project[1]}}</h2>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="recent-projects">
            
            
        </div>
        <div class="published-projects">

        </div>

    </main>
    <footer>

    </footer>
    <script src="/public/js/dashboard/dash.js"></script>
</body>
</html>